<div class="container">
  <form action="/tables/animal/delete" method="POST">
    <div class="form-group">

      <label for="animal_id">DELETE BY ID</label>
      <input type="text" name="id" class="form-control" id="animal_id" placeholder="E.G. 1232">


      <button type="submit">Submit</button>

    </div>

  </form>
</div>
