<div class="container" id="about">
  <h1>About</h1>
  <p>The Mission of Utah Animal Adoption Center is to eliminate euthanasia of healthy, adoptable cats and dogs through rescue, spaying, and neutering.</p>

  <p>Utah Animal Adoption Center (UAAC) is a non-euthanizing animal adoption center, rescuing an average of 1,000 cats and dogs each year and placing them in loving homes.</p>

  <p>UAAC has been dedicated to reducing the tragedies of pet overpopulation, the euthanasia of healthy adoptable pets, and animal suffering since 1983.</p>

  <p>UAAC is funded entirely by individual donations and some private foundation grants. Your donation to UAAC saves lives by supporting animal rescue, ongoing loving care, medical attention for pets in need, and humane education.</p>

  <p>UAAC is vastly different from most rational animal shelters. We pride ourselves on providing the most comfortable and homelike environment possible for the animals in our care. Our adoption center is location on a beautiful 3.5 acre sanctuary location next to the Jordan River Parkway Trail.</p>

  <p>Our dogs enjoy indoor/outdoor kennels and three large fenced areas where they can safely socialize and play. Our feline friends live communally in a large room where they can interact and relax on abundant cat trees and towers. During the warm months they venture out into an amazing outdoor cat enclosure to lounge in the sun and fresh air.</p>

  <p>We provide lots of toys, playtime and human interaction, with the added benefit of walks for the dogs along the Jordan River Parkway Trail. We are also unique in that we offer a lifetime guarantee for our adopted animals. If their person ever decides they can no longer care for the pet we placed with them, we will accept it back into our program, giving it another chance with a new family. The most important distinction is that we do not ever euthanize any healthy, adoptable pets.</p>

  <p>The majority of our cats and dogs come from local and regional shelters that sadly have to euthanize thousands of animals annually. We partner with these shelters, rescuing pets from their euthanasia lists. We receive purebred and mixed breed dogs and cats of all ages and sizes. All of our cats and dogs are spayed or neutered, current on their vaccinations, and microchipped.</p>

  <h2>Database</h2>
  <p>The project members that worked on this site and database are Aidan Irish, Walker Sorlie, Emily Mason, and Zoey Sparks.</p>

  <p>Our database was for all cats and dogs coming from the Utah Animal Adoption Center. We included those that were adopted, so when users search on our site for an animal, they can see if they are still available or not. We also included volunteer information, employee information, information on animal health, and information on yards and dishes.</p>
  <p>We chose the Utah Animal Adoption Center because Zoey works there and there is a need for them to have a database. The hope is that we can send them this and have them be able to use it on their website in the future.</p>
</div>
