<div class="container" id="jbtrn">
  <div style="background:transparent !important" class="jumbotron">
    <h1>UAAC Database</h1>
    
    <p><a class="btn btn-primary btn-lg" href="./tables/adopt" role="button">Adopt</a></p>
    <p><a class="btn btn-primary btn-lg" href="./tables" role="button">Select Table</a></p>

  </div>
</div>
