
<div class="container" id="jbtrn">
  <div style="background:transparent !important" class="jumbotron">
    <h1>Select Table</h1>
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Dropdown
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="/tables/animal">Animal</a></li>
        <li><a href="/tables/employee">Employee</a></li>
        <li><a href="/tables/adopt">Available Animals</a></li>
        <li><a href="/tables/newest">Newest Animals</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="./">Go back</a></li>
      </ul>
    </div>
  </div>
</div>
