<div class="container">
  <form action="/tables/animal/delete" method="POST">
    <div class="form-group">

      <label for="search_id">SEARCH BY NAME</label>
      <input type="text" name="breed" class="form-control" id="search_breed" placeholder="E.G. Dave">


      <button type="submit">Submit</button>

    </div>

  </form>
</div>
