<div div class="container" id="jbtrn">
  <h2>Thinking about adopting?</h2>
  <h5>Here are some tables you might find helpful.</h5>
  <br />
  <ul>
    <li><h4><a href="#">See all available animals.</a></h4></li>
    <li><h4><a href="#">Available neutered dogs.</a></h4></li>
    <li><h4><a href="#">Available neutered cats.</a></h4></li>
  </ul>

</div>
