<div div class="container" id="jbtrn">
  <h2>Thinking about adopting?</h2>
  <ul>
    <li><h4><a href="./available_animal">Available Animals</a></h4></li>
    <li><h4><a href="./available_dog">Available Dogs</a></h4></li>
    <li><h4><a href="./available_cat">Available Cats</a></h4></li>
  </ul>
</div>
