<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Newest Animal Table</div>

  <!-- Table -->
  <table class="table table-striped">
    <th>ID</th>
    <th>Name</th>
    <th>Animal Type</th>
    <th>Date In</th>

    {{#each newest}}
    <tr>
      <td>{{Animal_ID}}</td>
      <td>{{Animal_Name}}</td>
      <td>{{Animal_Type}}</td>
      <td>{{Date_In}}</td>
    </tr>
    {{/each}}
  </table>
</div>
