<div class="container">
  <form action="/tables/animal/delete" method="POST">
    <div class="form-group">

      <label for="search_id">SEARCH BY NAME</label>
      <input type="text" name="fname" class="form-control" id="search_fname" placeholder="E.G. Walker">


      <button type="submit">Submit</button>

    </div>

  </form>
</div>
